body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
td {
	font-size:14px;
	line-height: 22px;
}
a{
	TEXT-DECORATION: none;
}
.redLine {
	border-bottom: 2px solid #FF0000;
}
a:hover {
	color:#FF0000;
	TEXT-DECORATION: underline;
}
.leftTitle{
	background:url(images/line1.gif) repeat-x;
	BACKGROUND-POSITION:0px -780px;
	height:28px;
	padding-left:10px;
	font-weight:bold;
	color:#4d784d;
}
.mainTitle1{
	background:url(images/line1.gif) repeat-x;
	BACKGROUND-POSITION:0px -225px;
	height:35px;
	padding-left:10px;	
	font-weight:bold;
	color:#4d784d;
}
.mainTitle2{
	background:url(images/line1.gif) repeat-x;
	BACKGROUND-POSITION:0px -720px;
	padding-left:10px;
	font-weight:bold;
	color:#4d784d;
}
.leftPadding{
	padding-left:10px;
}
.tag1{
	background: url(images/my.gif) no-repeat;
	BACKGROUND-POSITION:-1px -1px;
	WIDTH: 100px;
	text-align: center;
	font-weight:bold;
	color:#4d784d;
}
.tag2{
	background: url(images/my.gif) no-repeat;
	BACKGROUND-POSITION:-1px -42px;
	WIDTH: 100px;
	text-align: center;
	color:#ffffff;
	font-weight:bold;
}

.btn {
	border: 1px solid #959E69;
	background-color: #CDED80;
	font-size: 9pt;
	padding-top: 2px;
	padding-right: 2px;
	padding-left: 2px;
}
.loginInput{
	BORDER: #a1bca3 1px solid;
	WIDTH: 100px;
	height:20px;
}
.box{
	BORDER: #a1bca3 1px solid;
}
.bg_d {
	color: #0000FF;
}
.bg_c {
	color: #FF0000;
}
.dazishow{
	table-layout:fixed;word-break:break-all;
	width:100%;
	font-size:20px;
	font-family:"ºÚÌå";
	line-height:58px;
	padding-right: 10px;
	padding-left: 10px;
}
#tableWg {
	border: 1px solid #cccccc;
	border-collapse:collapse;

}
#tableWg td{
	border: 1px dotted #cccccc;
	padding-bottom:1px;
}

#tableLine td{
	border-bottom: 1px dotted #cccccc; 
}
.lvse {color: #4d784d;font-weight:bold;}
.huise {color: #999999;}

.msgbox1{
	background:url(images/msgbox.gif) repeat-x;
	BACKGROUND-POSITION:0px 0px;
	width:4px;
}
.msgbox2{
	background:url(images/msgbox.gif) repeat-x;
	BACKGROUND-POSITION:0px -68px;
	height:30px;
	color:#FFFFFF;
	font-weight:bold;
	padding-left:10px;
}
.msgbox3{
	background:url(images/msgbox.gif) repeat-x;
	BACKGROUND-POSITION:0px -34px;
	width:4px;
}
.msgbox4{
	border-right: 1px solid #1BA53A;
	border-bottom: 1px solid #1BA53A;
	border-left: 1px solid #1BA53A;
}
#ico1{
	background: url(images/ico.gif) no-repeat;
	BACKGROUND-POSITION:-2px -159px;
	FLOAT: left;
	WIDTH: 14px; 
	HEIGHT: 12px
}
#ico2{
	background: url(images/bg_x.jpg) no-repeat;
	BACKGROUND-POSITION:-180px -79px;
	FLOAT: left;
	WIDTH: 6px; 
	HEIGHT: 10px
}
